@media only screen and (max-width: 900px){
    :root{
        font-size: 12px;
    }

    /* Nav Bar */
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .nav-header{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    main{
        margin-bottom: 5rem;
    }
    /* Scroll Bar */
    body::-webkit-scrollbar{
        width: 0.3rem;
    }

    /* Intro */
    .intro p{
        padding: 0px 10vh;
    }

    /* Experiences */
    #experiences h1{
        display: grid;
        place-items: center;
    }

    .timeline-container{
        width: 80%;
    }

    .right-timeline{
        left: 0;
    }

    .timeline::after{
        left: 0;
    }

    .left-timeline-arrow{
        border-left: 0;
        right: 0;
        border-right: 15px solid var(--blank-text-color);
        left: -14px;
    }

    .left-timeline .timeline-text::before{
        left: -58px;
    }

    /* Skills */
    #skills h1{
        display: grid;
        place-items: center;
    }

    /* Contacts */
    #contacts{
        padding-bottom: 10vh;
    }

    .links, .logos, .contact-links{
        display: grid;
        place-items: center;
        align-content: center;
    }

    .contact-information ion-icon{
        width: 100%;
    }
}

@media only screen and (min-width: 900px){
    /* Nav Bar */
    main{
        margin-left: 5rem;
    }

    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .nav-link:hover{
        filter: grayscale(0%) opacity(1);
        background: var(--light-color);
        color: var(--text-color) !important;
        font-weight: bold;
    }
    
    .nav-link:hover ion-icon{
        color: var(--text-color);
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text, .navbar:hover .header-name{
        display: inline-block;
    }

    /* Intro */

    .resume-download:hover{
        transform: translateY(-5px);
        filter: brightness(90%);
        transition: transform .2s ease-in-out;
    }

    /* Contacts */
    #contacts{
        padding-left: 40px;
    }

    .logos{
        display: flex;
    }

    .contact-information{
        flex: 70%;
    }
    
    .contact-links{
        flex: 30%;
    }
}

