main{
    background: var(--light-color);
}

.brightness-toggle{
    all: unset;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
}

.brightness-toggle-gray{
    filter: grayscale(0%) opacity(1) !important;
    color: white !important;
}

.navbar{
    position: fixed;
    background-color: var(--dark-color);
    transition: width .2s ease;
    z-index: 99;
} 

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--blank-text-color);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: .2s ease;
    z-index: 99;
}

.nav-link ion-icon{
    font-size: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--blank-text-color);
    transition: .2s ease;
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-header{
    font-size: 30px;
    color: var(--light-color);
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.header-name{
    display: none;
}

.nav-header .arrow{
    filter: grayscale(100%) opacity(0.7);
    transition: .8s ease;
    transform: rotate(0deg);
}

.navbar:hover .arrow{
    transform: rotate(-180deg);
    filter: grayscale(0%) opacity(1);
}

.active{
    filter: grayscale(0%) opacity(1);
    background: var(--light-color);
    color: var(--text-color);
    font-weight: bold;
}

.active ion-icon{
    color: var(--text-color);
}

.nav-item:last-child{
    margin-top: auto;
    margin-bottom: 5vh;
}
