:root{
    font-family: 'Montserrat', sans-serif;
    --dark-color: #769FCD;
    --light-color: #B9D7EA;
    --text-color: #000;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background: var(--light-color);
}

body::-webkit-scrollbar-thumb{
    background: var(--dark-color);
    border-radius: 0.75rem;
}

#background{
    background-color: var(--light-color);
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.intro-image img{
    width: 160px;
    height: 160px;
    border: 3px solid var(--dark-color);
    border-radius: 50%;
}
.intro{
    color: var(--text-color);
    text-align: center;
}
.intro h1{
    font-size: 50px;
    font-weight: 700;
}
.intro p{
    font-size: 20px;
    padding: 0px 30vh;
    text-align: justify;
}

#skills{
    background-color: var(--light-color);
    text-align: left;
    padding-left: 40px;
    padding-top: 20px;
    min-height: 100vh;
}

#skills ion-icon{
    font-size: 60px;
}

#skills h1{
    font-size: 60px;
    padding: 20px 0;
    text-decoration: underline;
}

.skill-languages h2, .skill-others h2{
    text-decoration: none;
    font-size: 40px;
    padding: 20px 0;
}

.tooltip{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 20px 10px;
    position: relative;
    vertical-align: middle;
}

.tooltip img{
    width: 100%;
    height: auto;
    float: left;
}

.tooltip:hover{
    transform: translateY(-5px);
    transition: transform .2s ease-in-out;
}

.tooltip:hover ion-icon, .tooltip:hover img, .copyButton:hover ion-icon, .contact-links a ion-icon:hover{
    filter: invert(77%) sepia(9%) saturate(7407%) hue-rotate(183deg) brightness(90%) contrast(76%);
}

.tooltip .tooltiptext{
    visibility: hidden;
    opacity: 100%;
    background-color: #000;
    color: var(--light-color);
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    transition: .2s ease-in-out;
}

.tooltip .tooltiptext::after{
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#contacts{
    background-color: var(--light-color);
    text-align: left;
    padding-left: 40px;
    min-height: 100vh;
    padding-top: 20px;
}

.links h1{
    font-size: 60px;
    text-decoration: underline;
}

.logos{
    display: flex;
}

.contact-information{
    flex: 50%;
}

.contact-links{
    flex: 50%;
}

.contact-information ion-icon{
    color: inherit;
    text-decoration: none;
    font-size: 60px;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin: 20px 10px;
}

.logo-label{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.contact-links ion-icon, .contact-links a{
    color: inherit;
    text-decoration: none;
    font-size: 40px;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}

.copyButton{
    background: none;
    padding: 10px;
    border: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    float: center;
    transition: transform .2s ease-in-out;
    text-align: center;
}

.contact-links a ion-icon{
    padding: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    float: left;
    transition: transform .2s ease-in-out;
    box-sizing: border-box;
}

.contact-links .tooltip{
    border: 3px solid var(--text-color);
    border-radius: 10%;
}

.contact-links .tooltip:hover{
    border: 3px solid var(--dark-color);
}